.gallerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallerie__fig{
    flex: 1 0 330px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px;
}
.gallerie__img{
    
}
.gallerie__caption{
    background-color: rgba(255, 255, 255, 0.45);
    padding: 5px;
    text-align: center;
}