.entete__nav{
    display: flex;
    position: fixed;
    transform: translateX(110%);
    transition: transform 125ms;
    top: 60px;
    right: 20px;
    max-width: 500px;
    flex-flow: column;
    text-align: right;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    z-index: 1500;
}
.entete__nav a {
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 153, 255);
    transition: background-color 200ms;
}
.entete__nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}

.checkbox-burger{
    display: none;
}

.burger-open{
    display: none;
}

.burger-closed{
    display: flex;
}

#chk-burger:checked ~ .entete__nav{
    transform: translateX(0%);
}

#chk-burger:checked ~ .burger-closed{
    display: none;
}

#chk-burger:checked ~ .burger-open{
    display: flex;
}

.navigation__bouton > img{
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1500;
}

.navigation__accueil{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    line-height: 0;
    z-index: 1500;
    height: fit-content;
    width: fit-content;
    /* filter: drop-shadow(1px 1px 0.5px #ffffff)
            drop-shadow(-1px 1px 0.5px #ffffff)
            drop-shadow(1px -1px 0.5px #ffffff)
            drop-shadow(-1px -1px 0.5px #ffffff); */
    filter: drop-shadow(0 0 8px #000000);
}
.navigation__accueil:hover{
    filter: brightness(0) saturate(100%) invert(23%) sepia(56%) saturate(6267%) hue-rotate(228deg) brightness(103%) contrast(101%) drop-shadow(0 0 8px #000000);
}
