.global{
    background-color: #ffd000;
}
#recette{
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 14px;
}
.recette{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    border-bottom: 5px dotted #d2c390;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.recette__div{
    flex: 2 2 285px;
    margin: 20px;
}
#recette > h1, .recette__div > h2, .recette__div > h3{
    font-family: 'DynaPuff';
}
#recette > h1{
    font-size: clamp(28px, 7.4286px + 5.1429vw, 64px);
    font-weight: 500;
    text-align: left;
    margin-bottom: 25px;
}
.recette__div > h2{
    padding: 0;
    font-weight: 400;
    font-size: clamp(18px, 14.5714px + 0.8571vw, 24px);
}
.recette__div > h3{
    padding: 0;
    font-weight: 400;
    font-size: clamp(18px, 14.5714px + 0.8571vw, 24px);
}
.recette__div > ol{
    list-style-type: none;
    padding: 0;
}
.recette__div > ol > li{
    margin: 10px 0;
}
.recette__image{
    display: flex;
    transform: rotate(5deg);
    padding: 10px;
    border: 3px solid #888888;
    border-radius: 15px;
    margin: 5px;
    max-width: 380px;
    transition: transform 215ms;
}
.recette:nth-of-type(odd) > .recette__image{
    order: -1;
    transform: rotate(-5deg);
    transition: transform 215ms;
}
.recette__image:hover{
    transform: none;
}
.recette:nth-of-type(odd) > .recette__image:hover{
    transform: none;
}
.recette__figcaption{
    width: 100%;
    padding: 5px;
    margin: 0;
    font-size: clamp(22px, 18px + 1vw, 24px);
    font-weight: 800;
    font-style: italic;
    text-align: center;
    background-color: #00000033;
}