table{
    display: inline-table;
    float: right;
    position: relative;
    border: 2px solid black;
    width: clamp(360px, calc(165.714px + 48.571vw), 700px);
}
th,td{
    border: 1px solid gray;
    padding: 5px;
    margin: 0;
    font-size: 1.5rem;
}
th{
    text-align: center;
}
caption{
    font-style: italic;
    font-weight: bold;
    font-size: 5rem;
}
thead{
    background-color: rgb(34, 0, 34);
    color: white;
}
tbody{
    background-color: rgb(150, 0, 150);
}
tfoot{
    background-color: rgb(95, 0, 95);
    color: white;
}
tbody tr:nth-of-type(odd){
    background-color: #ffffff2b;
}
tbody tr:hover{
    background-color: #aaaaaa66;
}